<ion-content>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/create-entry'>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- Searchbar with cancel button shown on focus -->
<ion-searchbar showCancelButton="focus" placeholder = 'Type some topic...'></ion-searchbar>

<div class = 'Description'>
  <h2 class="">Trending topics</h2>
</div>
<ion-slides pager="true" [options]="slideOpts" class='topic_slider'>
  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<div class = 'Description'>
  <h2 class="">Valued users</h2>
</div>
<ion-slides pager="true" [options]="slideOpts" class='topic_slider'>
  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Gonzalo López</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="rate_value">
          <p>Rate value: 4.7</p>
        </div>
        <div class="last_post_container">
          <p>Last post: Aprende python con solo...</p> 
        </div>
        <div class="choosen_topics_container">
          <p>Choosen topics: </p>
          <ion-chip>
            <ion-label>Music</ion-label>
            <ion-icon name="musical-notes-outline" color='primary'></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Economy</ion-label>
            <ion-icon name="calculator-outline" color='primary'></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Ecology</ion-label>
            <ion-icon name="leaf-outline" color='primary'></ion-icon>
          </ion-chip>
        </div>
          
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<div class = 'Description'>
  <h2 class="">Most recent posts</h2>
</div>
<ion-slides pager="true" [options]="slideOpts" class='topic_slider'>
  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header> 
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-icon name="person-outline" class="topic_icon" color='primary'></ion-icon>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Aprende python con solo 1 hora diaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Es muy común encontrar tutoriales sobre python y cursos para principiantes que prometen convertirte en 
        un programador con grandes capacidades... 
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

</ion-content>