<ion-content>
  <div class = 'Description'>
    <h2 class="">Welcome to <br><strong>Ruta de aprendizaje</strong></h2>
    <div class = 'MainIcon'>
      <img src="/assets/leyendo.png" alt="welcomeImg"> <br>
      <ion-note>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></ion-note>
    </div>
  </div>

<div class="InputSection">
  <ion-item>
    <ion-label position = 'floating'>Email</ion-label>
    <ion-input type = 'email' #email required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = 'floating'>Password</ion-label>
    <ion-input type = 'password' #password required></ion-input>
  </ion-item>

  <ion-button fill = 'outline' type = 'submit' expand = 'block' (click)= "onLogin(email, password)">Login</ion-button>

  <ion-button fill = 'outline' type = 'submit' expand = 'block' color = "danger" (click)= "onLoginGoogle()">Login with Google</ion-button>

</div>

<div class="Fs_9pt">
  <a routerLink= '/forgot-password'>Did you forget your password?</a>
</div>

<div class="Fs_9pt">
  You don't have an account? <a routerLink='/register'>Register</a>
</div>

</ion-content>
