<ion-content>
  <div class = 'Description'>
    <h2 class="">User profile</h2>
    <div class = 'MainIcon'>
      <ion-icon name="people-circle-outline" color='primary'></ion-icon>
      <div class="image_button">
        <ion-buttons>
          <ion-button>
            <ion-icon slot='icon-only' name="camera-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
    <h3>galejandro15</h3>
  </div>

  <div class="count_info">
    <div class="basic_info">
      <ion-toolbar>
        <ion-buttons slot='primary'>
          <ion-button>
            <ion-icon name="create-outline" ></ion-icon>
            Edit
          </ion-button>
        </ion-buttons>
        <ion-title>Description</ion-title>
      </ion-toolbar>  
      <div class="data_container">
        <p>Soy una persona que le gusta programar en sus ratos libres aunque no sea muy buena en ello, también me gusta leer libros interesantes 
          cuando tengo tiempo y sobre todo me gusta aprender sobre temas variados exceptuando politica. 
        </p>
      </div>
    </div>
    <div class="basic_info">
      <ion-toolbar>
        <ion-buttons slot='primary'>
          <ion-button>
            <ion-icon name="create-outline"></ion-icon>
            Edit
          </ion-button>
        </ion-buttons>
        <ion-title>General info</ion-title>
      </ion-toolbar>  
      <div class="data_container">
        <p>Followers: 21</p>
        <p>Following: 21</p>
        <div class="choosen_topics_container">
          <p>Choosen topics: </p>
          <ion-chip>
            <ion-label>Music</ion-label>
            <ion-icon name="musical-notes-outline" color='primary'></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Economy</ion-label>
            <ion-icon name="calculator-outline" color='primary'></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Ecology</ion-label>
            <ion-icon name="leaf-outline" color='primary'></ion-icon>
          </ion-chip>
        </div>
        <p>Joined: </p>
        <p>Email: </p>
        <p>Website: </p>
      </div>
    </div>
    <div class="recent_posts">
      <!-- Some recent posts -->
    </div>
  </div>
</ion-content>
