<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = 'Description'>
    <div class = 'MainIcon'>
      <ion-icon src='./assets/icon/shield.svg'></ion-icon>
    </div>
    <div class="main_text">
      <p>Forgot your password? No problem. Type your email in the form below and we will send you a mail with a link to reset your password</p>
    </div>
  </div>

  <div class="InputSection">
    <ion-item>
      <ion-label position = 'stacked'>Email</ion-label>
      <ion-input type = 'email' #email required></ion-input>
    </ion-item>

    <div class="SubmitButton">
      <ion-button size = 'large' fill = 'outline' expand = 'block' type = 'submit' (click)= "onResetPassword(email)">Password reset</ion-button>
    </div>

  </div>

</ion-content>