.InputSection > ion-item{
  margin-bottom: 20px;
}

.InputSection{
  margin-bottom: 40px;
}

.MainIcon {
  font-size: 150px;
}

.SubmitButton {
  margin-top: 30px;
}

.main_text {
  text-align: justify;
  text-justify: inter-word;
}