.postDescription {
  border: 1px solid silver;
  border-radius: 10px;
}

ion-item {
  --padding-start: 0;
}

.postDescription {
  padding-left: 10px;
}

.dedicationLvl {
  margin-top: 40px;
}