<ion-content>
  <div class = 'Description'>
    <h2 class="">Bienvenido a <br><strong>Ruta de aprendizaje</strong></h2>
    <div class = 'MainIcon'>
      <img src="/assets/leyendo.png" alt="welcomeImg"> <br>
      <ion-note>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></ion-note>
    </div>
  </div>

<div class="InputSection">
  <ion-item>
    <ion-label position = 'floating'>Correo electronico</ion-label>
    <ion-input type = 'email'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = 'floating'>Contraseña</ion-label>
    <ion-input type = 'password'></ion-input>
  </ion-item>

  <ion-button fill = 'outline' type = 'submit' expand = 'block'>Iniciar sesión</ion-button>

  <a href="#" class = 'Fs_9pt'>¿Olvidaste tu contraseña?</a>

</div>


<div class="Fs_9pt">
  ¿No tienes una cuenta? <a href="#">Registrate</a>
</div>

</ion-content>
