<ion-content>
  <div class = 'Description'>
    <h2 class="">Settings</h2>
    <div class = 'MainIcon'>
      <ion-icon name="cog-outline" color = 'primary'></ion-icon>
    </div>
  </div>

  <ion-item>
    <ion-label>Notifications</ion-label>
    <ion-select value="all">
      <ion-select-option value="all">All</ion-select-option>
      <ion-select-option value="Only responses">Onlt responses</ion-select-option>
      <ion-select-option value="Only recomendations">Only recomendations</ion-select-option>
      <ion-select-option value="Mute all">Mute all</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Language</ion-label>
    <ion-select value="en">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
      <ion-select-option value="ch">Chinesse</ion-select-option>
    </ion-select>
  </ion-item>

  

  <ion-item-group>
    <ion-item-divider>
      <ion-label>User account</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Change user name</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Delete account</ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>Comunication</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Send error message</ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>Exit</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label routerLink = '/login'>Log out</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Close application</ion-label>
    </ion-item>
  </ion-item-group>

  <div class="about_us">
    <h3>About us</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio beatae ipsa ab, nemo, sit aliquid nisi quisquam non quod repudiandae.</p>
        
    <div class="social_icons">
      <ion-button fill='clear'>
        <ion-icon name="logo-twitter" slot="icon-only" size='large'></ion-icon>
      </ion-button>
  
      <ion-button fill='clear'>
        <ion-icon name="logo-facebook" slot="icon-only" size='large'></ion-icon>
      </ion-button>
  
      <ion-button fill='clear'>
        <ion-icon name="logo-github" slot="icon-only" size='large'></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>
