.MainIcon {
  position: relative;
}

.MainIcon > ion-icon{
  font-size: 150px;
  display: flex;
  margin: auto;
}

.about_us {
  margin-top: 30px;
}

.social_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
